export NODE_ENV=production

export JID=bot@jabber.example.com
export XMPP_PASSWORD=password

export ROOM_JIDS="[\"alpha\", \"beta\", \"gamma\"]"
export ROOM_DOMAIN=conference.jabber.example.com
export ROOM_NICK=bot